appnope==0.1.2
backcall==0.2.0
decorator==4.4.2
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
lxml==4.6.2
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
prompt-toolkit==3.0.17
ptyprocess==0.7.0
pycodestyle==2.7.0
pydocstyle==5.1.1
Pygments==2.8.1
python-docx==0.8.10
snowballstemmer==2.1.0
traitlets==5.0.5
wcwidth==0.2.5
